<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>*{margin: 0;padding: 0;box-sizing: border-box;}
        html,body{width: 100%;height: 100%;background-color: black;}
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[100%] h-[100%] p-[10px]">
        <h1 class="w-[100%] text-center  text-zinc-900 text-[50px] font-bold">Users List</h1>
        <div class="flex gap-[20px] py-[5%] flex-wrap items-center justify-center">
          <% if(users.length>0){ %>  
            <% users.forEach(function(item,idx){ %>   
            <div class="bg-zinc-900 min-w-[150px] ">
                <img class="bg-[white] w-[100%] h-[100px] ">
                <h1 class="text-center text-[20px] font-bold"><%= item.name %></h1>
                <h3 class="text-center font-bold text-[10px] px-[5px]"><%= item.email %></h3>
                <div class="text-center">
                    <a href=<%=`/edited/${item.name}`%>  class="text-[blue] mx-[5px] font-bold">Edit</a>
                    <a href=<%=`/delete/${item.email}`%> class="text-[red] mx-[5px] font-bold ">Delete</a>
                </div> 
            </div>
            <% })}else{ %>
              <h1 class="text-zinc-900 text-[25px] font-bold">No Account has been created</h1>
            <% } %>
        </div>

    </div>
</body>
</html>